

* {
    margin:0;
    padding:0;
    outline: none;
       
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  li {
    float: left;
  }
  
  a {
    display: block;
    padding: 8px;
    color: black;
    font-family: arial;
    font-size:13px;
    
  }
}
a:hover {
    text-decoration: underline;
}
.google {
    
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 109px;
    height: 200px;
    width: 400px;

}

.searchbar {
 margin-left: 870px;
 margin-right: 870px;

}


.footer {
  width: 100%;
  position: fixed;
  left: 0;
  bottom: 0;
  background-color:#D3D3D3;
}

.buttons {
 width: 1100px;
 position:relative;

}

.buttons button {
  left:200px;
  
}